<!DOCTYPE html>
<html lang="en">

<head>
    <title>View My Events</title>
    <style type="text/css">
    h5,
    strong,
    label {
        font-family: 'Yrsa';
        font-size: 20px;
        font-weight: bold;
    }

    .p {
        font-family: 'Montaga';
        font-size: 16px;
    }

    .form-group input {
        border: 0;
        /*border-bottom: 1px solid #000;*/
        outline: none;
        outline-style: none;
        box-shadow: none;
        background: transparent;
    }

    .form-group input:focus {
        border: none;
        outline: none;
        outline-style: none;
        border-bottom: 1px solid #000;
        box-shadow: none;
    }

    .eventsBox {
        height: 79.1vh;
        padding-bottom: 5vh;
        overflow: auto;
        /*overflow-y: scroll;*/
    }

    .eventsBox::-webkit-scrollbar {
        display: none
    }

    .showEventBox {
        height: 79.1vh;
        padding-bottom: 5vh;
        overflow: auto;
        /*overflow-y: scroll;*/
    }

    .showEventBox::-webkit-scrollbar {
        display: none
    }

    .form-group #searchEvent {
        border: 0;
        border-bottom: 1px solid #000;
        outline: none;
        outline-style: none;
        background: transparent;
        box-shadow: none;
        font-size: 20px;
        width: 70vh;
    }

    .form-group #searchEvent:focus {
        border: none;
        outline: none;
        outline-style: none;
        border-bottom: 2px solid #8376c5;
        box-shadow: none;
    }
    </style>
</head>

<body>
    <div>
        <% include navbar.ejs ;%>
    </div>
    <div class="container-fluid" style="margin-top: 5vh;">
        <% if(alert=="true") { %>
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Event deleted successfully.</strong>
        </div>
        <% } %>
        <% if(alert_csv=="true") { %>
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Csv uploded successfully.</strong>
        </div>
        <% } %>
        <div class="row">
            <div class="col-lg-6 ml-4 overflow-auto eventsBox">
                <h2 style="font-family: 'Montaga';">Events List</h2>
                <div class="form-group row mt-4" style="line-height: 1; height: auto;">
                    <i class="fa fa-search mt-3" style="width: 20px; height: 20px;"></i>
                    <input class="form-control p" id="searchEvent" type="text" placeholder="Search event..">
                </div>
                <div id="searchEvents">
                    <div>
                        <% results.forEach(function(result){ %>
                        <div class="card mt-4 mb-4 border border-dark">
                            <div class="card-body">
                                <!-- <div class="border border-dark rounded p-3 mt-4"> -->
                                <div>
                                    <%  if(result.csv_uploaded == 1){ %>
                                    <div class="alert alert-success alert-dismissible fade show">
                                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                                        <strong>Csv is uploaded</strong>
                                    </div>
                                    <% } %>
                                </div>
                                <div class="row p-2" id="event">
                                    <img src="<%= result.event_image %>" width="150" height="150">
                                    <div class="ml-3 ">
                                        <p class="p"><strong>Event Name : </strong>
                                            <%= result.event_name %>
                                        </p>
                                        <p class="p"><strong>Event Type : </strong>
                                            <%= result.event_type %>
                                        </p>
                                        <p class="p"><strong>Event Incharge : </strong>
                                            <%= result.event_incharge %>
                                        </p>
                                    </div>
                                    <div class="mt-auto ml-auto mb-auto">
                                        <p><button type="button" class="btn btn-info" onclick="viewEvent('<%= result.event_image %>','<%= result.event_name %>','<%= result.event_type %>','<%= result.event_date %>','<%= result.event_incharge %>','<%= result.event_description %>','<%= result.id %>')">Edit Event</button></p>
                                        <p><button class="btn btn-primary" type="button" data-toggle="modal" data-target="#uploadcsv" onclick="upload_csv('<%= result.id %>', '<%= result.csv_uploaded %>')">Upload CSV</button></p>
                                        <p><button class="btn btn-danger" type="button" data-toggle="modal" data-target="#deleteEvent" onclick="delete_event('<%= result.id %>','<%= result.event_name %>')">Delete</button></p>
                                        <p class="p">Number of Participants :
                                            <%= result.numberOfParticipants %>
                                        </p>
                                    </div>
                                </div>
                                <!-- </div> -->
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 ml-5 border-left border-dark overflow-auto showEventBox">
                <!-- <h4>Click View event to view them here</h4> -->
                <form action="/updateEvent" class="form-horizontal" method="post">
                    <div align="center" class="p-5">
                        <img class="border rounded" id="eventImage" src="/images/dbit.png" width="200" height="200">
                        <input type="hidden" name="eventId" id="eventId">
                        <div class="form-group mt-4 row">
                            <label class="control-label">Event Name : </label>
                            <div class="col-sm-10">
                                <input class="form-control p" id="eventName" type="text" name="eventName" placeholder="Event Name">
                            </div>
                            <!-- <input type="text" name="eventName" id="eventName" placeholder="Event Name"> -->
                            <!-- <p id="eventName" class="p"><strong>Event Name : </strong> ABC event</p> -->
                        </div>
                        <div class="form-group row">
                            <label class="control-label">Event Type : </label>
                            <!-- <div class="col-sm-10">
                                <input class="form-control p" id="eventType" type="text" name="eventType" placeholder="Event Type">
                            </div> -->
                            <div class="col-sm-10">
                            <select class="form-control" id="eventType" name="eventType">
                                <option value="talk">Talk</option>
                                <option value="hackathons">Hackathons</option>
                                <option value="competition">Competition</option>
                            </select>
                        </div>
                            <!-- <p id="eventType" class="p"><strong>Event Type : </strong> Any Type</p> -->
                        </div>
                        <div class="form-group row">
                            <label class="control-label">Event Date : </label>
                            <div class="col-sm-10">
                                <input class="form-control p" id="eventDate" type="date" name="eventDate" placeholder="Event Date">
                            </div>
                            <!-- <p id="eventDate" class="p"><strong>Event Date : </strong> At given Date</p> -->
                        </div>
                        <div class="form-group row">
                            <label class="control-label">Event Incharge : </label>
                            <div class="col-sm-8">
                                <input class="form-control p" id="eventIncharge" type="text" name="eventIncharge" placeholder="Event Incharge Name">
                            </div>
                            <!-- <p id="eventIncharge" class="p"><strong>Event Incharge : </strong> Incharge Name</p> -->
                        </div>
                    </div>
                    <div class="form-group">
                        <h5>Event Description : </h5>
                        <textarea class="form-control p" id="eventDescription" name="eventDescription">

                    </textarea>
                        <!-- <p id="eventDescription" class="p">Description about event</p> -->
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
    <div>
        <div class="modal fade" id="uploadcsv" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Upload CSV</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <form method="POST" action="/upload_csv" enctype="multipart/form-data">
                        <div class="modal-body">
                            <h4><strong>Select CSV file to upload</strong></h4>
                            <input type="file" name="CSVFile">
                            <input type="hidden" name="event_Id" id="event_Id">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Upload</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="modal fade" id="deleteEvent" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Event</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <form method="POST" action="/deleteEvent">
                        <div class="modal-body">
                            <h4><strong>Do you want to delete <p id="event_name"></p></strong></h4>
                            <input type="hidden" name="event_id" id="event_id">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Delete</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
function delete_event(id, name) {
    document.getElementById("event_id").value = id;
    document.getElementById("event_name").innerHTML = name;
}

function upload_csv(id, csv_uploaded) {
    document.getElementById("event_Id").value = id;
}

function viewEvent(eventImage, eventName, eventType, eventDate, eventIncharge, eventDescription, eventId) {
    document.getElementById("eventImage").src = eventImage;
    document.getElementById("eventName").value = "" + eventName;
    document.getElementById("eventType").value = "" + eventType;
    document.getElementById("eventDate").value = "" + eventDate;
    document.getElementById("eventIncharge").value = "" + eventIncharge;
    document.getElementById("eventId").value = "" + eventId;
    document.getElementById("eventDescription").innerHTML = "" + eventDescription;
}

$(document).ready(function() {
    $("#searchEvent").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#searchEvents .card").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
});
</script>

</html>