<!DOCTYPE html>
<html lang="en">

<head>
    <title>Show Participants</title>
</head>

<body>
    <div>
        <% include navbar.ejs ;%>
    </div>
    <div class="container" style="margin-top: 20vh;">
        <% if(certificate_printed==1) { %>
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Certificate is already printed.</strong>
        </div>
        <% } %>
        <h2>Participants Table</h2>
        <% if(alert=="true") { %>
        <div class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Certificate Printed successfully.</strong>
        </div>
        <% } %>
        <table class="table">
            <thead>
                <tr>
                    <th>Participants Name</th>
                    <th>Participants E-mail</th>
                    <th>Participants Rank</th>
                </tr>
            </thead>
            <tbody>
                <% jsonObject.forEach(function(jsonObj){ %>
                <tr>
                    <td>
                        <%= jsonObj.Name %>
                    </td>
                    <td>
                        <%= jsonObj.Email %>
                    </td>
                    <td>
                        <%= jsonObj.Rank %>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#printCertificates"> Print Default Certificates </button>
            </div>
        </div>
    </div>
    <div class="modal" id="printCertificates">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Choose Default Template</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <form action="/printCertificates" method="POST">
                    <div class="modal-body">
                        <input type="hidden" name="event_name" value="<%= event_name %>">
                        <input type="hidden" name="event_type" value="<%= event_type %>">
                        <input type="hidden" name="event_id" value="<%= event_id %>">
                        <input type="hidden" name="csv_path" value="<%= csv_path %>">
                        <input type="hidden" name="certificate_printed" value="<%= certificate_printed %>">
                        <div class="row">
                            <div class="radio">
                                <label><input type="radio" name="selectedTemplate" value="firstTemplate"><img alt="firstImage" src="./images/2026c.jpg" width="150" height="250"></label>
                            </div>
                            <div class="radio" style="margin-left: 10vw;">
                                <label><input type="radio" name="selectedTemplate" value="secondTemplate"><img src="./images/3282105c1.jpg" width="250" height="150"></label>
                            </div>
                        </div>
                        <div class="row">
                            <!-- <div class="radio">
                                <label><input type="radio" name="selectedTemplate" value="thirdTemplate"><img src="./images/354.jpg" width="250" height="150"></label>
                            </div> -->
                            <div class="radio" style="margin-left: 10vw;">
                                <label><input type="radio" name="selectedTemplate" value="defaultTemplate"><img src="./images/akki_certi.PNG" width="250" height="150" ml-4></label>
                            </div>
                        </div>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Print Certificates</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>