<!DOCTYPE html>
<html lang="en">

<head>
    <title>View Events</title>
    <style type="text/css">
    * {
        margin: 0;
        padding: 0;
    }

    body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    h5,
    strong {
        font-family: 'Yrsa';
        font-size: 20px;
        font-weight: bold;
    }

    .p {
        font-family: 'Montaga';
        font-size: 16px;
    }

    .eventsBox {
        height: 79.1vh;
        padding-bottom: 5vh;
        overflow: auto;
        /*overflow-y: scroll;*/
    }

    .eventsBox::-webkit-scrollbar {
        display: none
    }

    .showEventBox {
        height: 79.1vh;
        padding-bottom: 5vh;
        overflow: auto;
        /*overflow-y: scroll;*/
    }

    .showEventBox::-webkit-scrollbar {
        display: none
    }

    .form-group input {
        border: 0;
        border-bottom: 1px solid #000;
        outline: none;
        outline-style: none;
        background: transparent;
        box-shadow: none;
        font-size: 20px;
        width: 70vh;
    }

    .form-group input:focus {
        border: none;
        outline: none;
        outline-style: none;
        border-bottom: 2px solid #8376c5;
        box-shadow: none;
    }
    </style>
</head>

<body class="mb-5">
    <div>
        <% include navbar.ejs ;%>
    </div>
    <div class="container-fluid" style="margin-top: 5vh; height: 100%">
        <div class="row" style="overflow: hidden;">
            <div class="col-lg-6 ml-4 eventsBox">
                <h2 style="font-family: 'Montaga';">Events List</h2>
                <div class="form-group row mt-4" style="line-height: 1; height: auto;">
                    <i class="fa fa-search mt-3" style="width: 20px; height: 20px;"></i>
                    <input class="form-control p" id="searchEvent" type="text" placeholder="Search event..">
                </div>
                <div id="searchEvents">
                    <div>
                        <% results.forEach(function(result){ %>
                        <div class="card mt-4 mb-4 border border-dark">
                            <div class="card-body">
                                <div class="row p-2" id="event">
                                    <img src="<%= result.event_image %>" width="150" height="150">
                                    <div class="ml-3">
                                        <p class="p"><strong>Event Name : </strong>
                                            <%= result.event_name %>
                                        </p>
                                        <p class="p"><strong>Event Type : </strong>
                                            <%= result.event_type %>
                                        </p>
                                        <p class="p"><strong>Event Incharge : </strong>
                                            <%= result.event_incharge %>
                                        </p>
                                    </div>
                                    <div class="mt-auto ml-auto mb-auto">
                                        <button type="button" class="btn btn-info mb-4" onclick="viewEvent('<%= result.event_image %>','<%= result.event_name %>','<%= result.event_type %>','<%= result.event_date %>','<%= result.event_incharge %>','<%= result.event_description %>')">View Event</button>
                                        <form action="/showParticipants" method="POST">
                                            <input type="hidden" name="event_id" value="<%= result.id %>">
                                            <input type="hidden" name="event_name" value="<%= result.event_name %>">
                                            <input type="hidden" name="csv_path" value="<%= result.csv_path %>">
                                            <!-- <input type="hidden" name="event_type" value="<%= result.event_type %>"> -->
                                            <input type="hidden" name="certificate_printed" value="<%= result.certificate_printed %>">
                                            <input type="hidden" name="event_type" value="<%= result.event_type %>">
                                            <% if(roles == "hod") {
                                if(result.csv_uploaded == 1) { %>
                                            <button type="submit" class="btn btn-primary">View Participants</button>
                                            <% } else {%>
                                            <button type="submit" class="btn btn-primary" disabled>View Participants</button>
                                            <% } } %>
                                            <p class="p"></p>
                                        </form>
                                        <div>
                                            <p class="p">Number of Participants :
                                                <%= result.numberOfParticipants %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 ml-5 border-left border-dark showEventBox">
                <!-- <h4>Click View event to view them here</h4> -->
                <div align="center" class="p-5">
                    <img class="border rounded" id="eventImage" src="/images/dbit.png" width="200" height="200">
                    <p class="mt-4">
                        <!-- <h5>Event Name : </h5> -->
                        <p id="eventName" class="p"><strong>Event Name : </strong> ABC event</p>
                    </p>
                    <p>
                        <!-- <h5>Event Type : </h5> -->
                        <p id="eventType" class="p"><strong>Event Type : </strong> Any Type</p>
                    </p>
                    <p>
                        <!-- <h5>Event Date : </h5> -->
                        <p id="eventDate" class="p"><strong>Event Date : </strong> At given Date</p>
                    </p>
                    <p>
                        <!-- <h5>Event Incharge : </h5> -->
                        <p id="eventIncharge" class="p"><strong>Event Incharge : </strong> Incharge Name</p>
                    </p>
                </div>
                <p>
                    <h5><strong>Event Description : </strong></h5>
                    <p id="eventDescription" class="p">Description about event</p>
                </p>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
function viewEvent(eventImage, eventName, eventType, eventDate, eventIncharge, eventDescription) {
    document.getElementById("eventImage").src = eventImage;
    document.getElementById("eventName").innerHTML = "<strong>Event Name : </strong>" + eventName;
    document.getElementById("eventType").innerHTML = "<strong>Event Type : </strong>" + eventType;
    document.getElementById("eventDate").innerHTML = "<strong>Event Date : </strong>" + eventDate;
    document.getElementById("eventIncharge").innerHTML = "<strong>Event Incharge : </strong>" + eventIncharge;
    document.getElementById("eventDescription").innerHTML = "" + eventDescription;
}

$(document).ready(function() {
    $("#searchEvent").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#searchEvents .card").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
});
</script>

</html>