  <!DOCTYPE html>
  <html lang="en">
  <head>
    <title>View Faculty</title>
  </head>
  <body>

    <div><% include navbar.ejs ;%></div>

    <div class="container" style="margin-top: 20vh;">
      <% if(alert=="true") { %>
        <div class="alert alert-success alert-dismissible fade show">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>Faculty deleted successfully.</strong>
        </div>
        <% } %>
      <h2>Faculty Table</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Designation</th>
            <th>Branch</th>
            <th>Operation</th>
          </tr>
        </thead>
        <tbody>
          <% results.forEach(function(result){ %>
          <tr>
            <td><%= result.name %></td>
            <td><%= result.role %></td>
            <td><%= result.department %></td>
            <td>
              <div>

                <button class="btn btn-info" type="button" data-toggle="modal" data-target="#viewFaculty" onclick="showStaff('<%= result.id %>','<%= result.name %>','<%= result.username %>','<%= result.role %>','<%= result.department %>')">View</button>

                <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#deleteFaculty" onclick="delete_staff('<%= result.id %>','<%= result.name %>')">Delete</button>

              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

    <div>
            <div class="modal fade" id="deleteFaculty" role="dialog">
              <div class="modal-dialog">
              
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                  <h4 class="modal-title">Delete Faculty</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <form method="POST" action="/deleteFaculty">
                    <div class="modal-body">
                      <h4><strong>Do you want to delete <p id="faculty_Name"></p></strong></h4>
                      <input type="hidden" name="faculty_Id" id="facultyId">
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-success">Delete</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                  </form>
                </div>
                
              </div>
            </div>
        </div>


          <div>

            <div class="modal fade" id="viewFaculty">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
              
                <div class="modal-header">
                  <h4 class="modal-title">Faculty Profile</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <div class="modal-body">
              <table class="table table-borderless">
                    <tbody>
                      <tr>
                        <td><h5><strong>Id</strong></h5></td>
                        <td><strong>:</strong></td>
                        <td><span id="f_id"></span></td>
                      </tr>
                      <tr>
                        <td><h5><strong>Name</strong></h5></td>
                        <td><strong>:</strong></td>
                        <td><span id="f_name"></span></td>
                      </tr>
                      <tr>
                        <td><strong>Username</strong></td>
                        <td><strong>:</strong></td>
                        <td><span id="f_username"></span></td>
                      </tr>
                      <tr>
                        <td><strong>Role</strong></td>
                        <td><strong>:</strong></td>
                        <td><span id="f_role"></span></td>
                      </tr>
                      <tr>
                        <td><strong>Department</strong></td>
                        <td><strong>:</strong></td>
                        <td><span id="f_department"></span></td>
                      </tr>
                    </tbody>
                  </table>

                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                
                </div>
              </div>
            </div>
          </div>

  </body>

  <script>
    function showStaff(id,name,username,role,department){
      document.getElementById("f_id").innerHTML = id;
      document.getElementById("f_name").innerHTML = name;
      document.getElementById("f_username").innerHTML = username;
      document.getElementById("f_role").innerHTML = role;
      document.getElementById("f_department").innerHTML = department;
    }

    function delete_staff(id, name) {
      document.getElementById("facultyId").value = id;
      document.getElementById("faculty_Name").innerHTML = name;
    }

  </script>


  </html>
